#splashscreen {
    position: absolute;
    display: grid;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background: white;
    animation: splash-animation 0.6s linear 3s 1 normal forwards;
}

#splashicon {
    scale: 180%;
    stroke-width: 4px;
    stroke-dasharray: 240px;
    stroke-dashoffset: 240px;
    fill-opacity: 0;
    animation: 
        stroke-animation 1.5s linear 0s 1 normal forwards,
        fill-animation 1s linear 1.5s 1 normal forwards;
}

@keyframes stroke-animation {
    to {
        stroke-dashoffset: 0px;
    }
}

@keyframes fill-animation {
    to {
        fill-opacity: 1;
    }
}

@keyframes splash-animation {
    to {
        opacity: 0;
        display: none;
    }
}